
<h1>All part types</h1>

<%= link_to 'Add new part type', new_part_path, class: "btn btn-warning" %>
<br>
<br>

<%=render 'index'%>

<br>

<%= link_to 'Add new part type', new_part_path, class: "btn btn-warning" %>
