<h1>Create new part instance(s) using existing part types and warehouse boxes. If there is no such part type it should be <%=link_to "created", new_part_path%> first.</h1>


<%= render 'new_form' %>

<%= link_to 'Back', part_insts_path %>
