// Place all the styles related to the contracts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.contract_level_0 {
  color:      #FFFFFF; 
  background: #00C800;
}

.contract_level_1 {
  color:      #FFFFFF; 
  background: #329600;
}

.contract_level_2 {
  color:      #FFFFFF; 
  background: #646400;
}

.contract_level_3 {
  color:      #FFFFFF; 
  background: #963200;
}

.contract_level_4 {
  color:      #FFFFFF; 
  background: #C80000;
}

.unassigned_item {
  color:      #FFFFFF; 
  background: #E00000;
}

.assigned_item {
  color:      #FFFFFF; 
  background: #00E000;
}




