// Place all the styles related to the Parts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//@import "bootstrap";


.convert_items_to_parts_list {
    background-color:#00FFFF;
    width:80%;
    height:70%;
    overflow:scroll;
}

