// Place all the styles related to the ProdTypes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.critical_cnt {
  color:      #FFFFFF;
  background: #E00000;
}

.completed {
  color:      #FFFFFF;
  background: #00E000;
}



